/* Header Styles */
.header {
    width: 100%;
    height: 5rem;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    background-color: #333333; /* Darker blue background color */
    color: #eeeeee; /* Light text color */
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    font-family: 'Courier New', monospace; 
    
}

.header h2 {
    font-size: 18px;
    margin-right: 5rem;
    color: #ecf0f1; 
    text-decoration: none;
    
}

h1 {
    font-size: 2em;
    margin: 0 auto 0 1rem;
}

.header-text:hover {
    text-decoration: underline;
    cursor: pointer;
}



